body{
	/*font: 16px 'PT Serif', 'STZhongsong', '华文中宋', 'Microsoft Yahei', serif;*/
	font: PingFangSC-Regular,'Roboto', Verdana, "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.main-card {
	width: 400px;
    height: 200px;
    background: rgba(255,255,255,.3);
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 100px);
    border-radius: 10px;
}

.main-card .disc {
	position: relative;
}

.main-card .disc-shadow {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: url('../images/disc.png');
	background-size: cover;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

.main-card .head-icon{
	width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 20px auto 10px;
	background: url('../images/timg.jpeg');
	background-size: cover;
	background-position: -15px 0;
	animation: head-icon-animation 5s linear 0s infinite;
}

@keyframes head-icon-animation {
	50%{
		transform: rotateZ(180deg);
	}

	100%{
		transform: rotateZ(360deg);
	}
}

.main-card .axis {
	width: 55px;
    height: 80px;
    background: url(../images/axis.png);
    background-size: cover;
    margin-left: 90%;
    transform: rotateZ(20deg);
    position: absolute;
    left: 0;
    top: 0;
    margin-left: calc(50% + 40px);
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	padding: 10px 0;
	color: #999;
	font-size: .5rem;
}

.video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.video-container video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.center {
	text-align: center;
}

.color_999 {
	color: #999;
}

.color_666 {
	color: #666;
}

.ft_fantasy {
    font-family: fantasy;
}

.ft_25 {
	font-size: 25px;
}

.pointer {
	cursor: pointer;
}

.mt10 {
	margin-top: 10px;
}